**/target
**/output.ll
**/output.o
**/program
**/runtime.o
**/.DS_Store

# runtime
**/io.o
**/libnavi_runtime.a
**/test_program
**/test.o

# output files
examples/*.s
**/*.beam
**/*.erl
compiler/naviary